#wrapped {
  margin-bottom: 10%;
}

img.across {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

#pictureholder {
  position: relative;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-style: italic;
  position: absolute;
  bottom: 7%;
  right: 4%;
  width:40%;
}

img.across2 {
  width: 100%;
  height: 420px;
  padding: 0;
  margin-top: 5%
}

img.across1 {
  width: 100%;
  height: 420px;
  padding: 0;
}

body {
  height:100%;
}


#wrapper2 {
  width: 100%;
  background-color: #fee496;
  padding: 35px 0;
  margin-top: -5px;
}

.aboutdivider {
  width: 14%;
  border-bottom: 2px solid #fec14a;
  padding: 0 0 0 0;
  margin: 10px 43% 15px 43%;
}


h1.head {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36pt;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

#info-section {
  padding: 5% 0 0 15%;
}

#threemm {
  width: 150px;
  border-bottom: 2px solid #fec14a;
  padding: 1px 0 0 0;
  margin: 0 0 8px 0;
}


h2.oral {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 7px 0;
  padding: 0;
  display:block;
  clear: left;
}

p.write {
  width: 55%;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 2% 0 3% 22%;
  padding: 0;
}

.peckerwrapper {
  width: 100%;
  margin: 0;
}

p.givetext {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  font-kerning: 1px;
  color: black;
  margin: 2% 0 20px 0;
  padding: 0;
  width: 70%;
  text-align: justify;
}

p.givetext b {
  font-family: 'Crimson Text', serif;
  text-decoration:underline;
}

.facts5 {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 12%;
  border: 2px solid #fec14a;
  transition: background ease 0.3s;
  text-align: center;
}
 .facts5:hover {
  background-color: #fec14a;
}

.facts5:hover h2.sponsortext {
  color: white;
}

.facts5 a {
  text-decoration: none;
}

.facts5 h2 {
  font-size: 10pt;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}



@media only screen and (max-width:905px) {

  body {
    height:100%;
  }

  #wrapper2 {
    width:100%;
  }

	p.write {
		width:60%;
		}

  p.givetext {
    width:80%;
  }

}

/*for tablet*/
@media only screen and (max-width:700px) {

  #info-section {
    margin-left: -2%;
  }

@media only screen and (max-width:600px) {


      body {
        padding-bottom: 80%;
      }
}

/*for mobile*/
@media only screen and (max-width:374px) {

  #info-section {
    margin-left: -1%;
  }
	p.write {
		width:85%;
    margin:0 0 0 9%;
    /* display: block;
    float:left; */
		}

  p.givetext {
    width:85%;
  }

}
</style>
