@charset "UTF-8";
/* CSS Document for History Page */


/* NOTES
margin: top right bottom left
font: font-style font-variant font-weight font-size/line-height font-family
*/

/* GENERAL */
/*stroke my*/ body {
  background-color: white;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  max-width: 1280px;
}

::-webkit-scrollbar {
    display: none;
}
/* GENERAL */

/* NAVIGATION MENU*/
#bar {
  background: #5c7944;
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

#logo {
  display: inline;
  height: auto;
  width: 110px;
  position: absolute;
  left: 70px;
  top: 7px;
  z-index: 4;
}

#logotext {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 195px;
  top: -10px;
  line-height: 31px;
}

#logotext1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
  font-style: italic;
  position: absolute;
  left: 195px;
  top: 62px;
  line-height: 35px;
}

#contact, #give {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #82a762;
  font-size: 16px;
  position: absolute;
  padding: 7px 30px 7px 30px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

#contact {
  right: 70px;
  top: 45px;
}

#give {
  right: 220px;
  top: 45px;
}

#give:hover, #contact:hover {
  background-color: #fec963;
}

ul#navi {
  width: 100%;
  height: 31px;
  background-color: rgb(230,230,230);
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: black;
  padding: 13px 0 0 0;
  margin: 0;
  list-style-type: none;
  font-size: 10pt;
  text-transform: uppercase;
  text-align: center;
}

ul#navi li {
  display: inline;
  padding: 0px 5% 8px 5%;
  transition: all ease 0.5s;
  border-bottom: 5px solid transparent;
}

ul#navi li:hover, ul#navi li:active {
  padding: 0px 5% 10px 5%;
  border-bottom: 5px solid #fec14a;
}

a.normal {
  color: black;
  text-decoration: none;
}

li#about:hover > #adropdown {
  display: table;
}

#adropdown {
  height: auto;
  width: 40%;
  background-color: #fee496;
  z-index: 99;
  position: absolute;
  top: 169px;
  left: 19%;
  display: none;
  padding: 5px 5px 25px 5px;
  margin: 0;
  transition: all ease 0.5s;
}

ul #drop {
  list-style: none;
  line-height: 50px;
}

ul#drop li {
  margin: 0 30px 0 0;
  padding: 0;
  float: left;
  width: 40%;
  border-bottom: 1px solid #fec14a;
  transition: all ease 0.3s;
}

ul#drop li:hover, ul#drop li:active {
  padding: 0;
  border-bottom: 1px solid #fec14a;
  color: #fec14a;
}

li#student:hover > #sdropdown {
  display: table;
}

#sdropdown {
  height: auto;
  width: 40%;
  background-color: #fee496;
  z-index: 99;
  position: absolute;
  top: 169px;
  right: 5%;
  display: none;
  padding: 5px 5px 25px 5px;
  margin: 0;
  transition: all ease 0.5s;
}


/*#triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fec14a;
  position: absolute;
  top: 0px;
  left: 30%;
}*/

/* NAVIGATION */


/* TEMPLATE */
h1.pagetitle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36pt;
  color: black;
  margin:0;
  padding: 0;
  text-transform:uppercase;
  transform: translateX(25vw);
  display: inline-block;
}

#divider {
  width: 160px;
  border-bottom: 2px solid #fec14a;
  padding: 10px 0 0 0;
  margin: 0 400px 40px 400px;
  transform: translateX(0vw);
}

h2.paraheading {
  font-family: 'Lato', sans-serif;
  font-size: 24pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0;
}

#quicknumbers {
	width: 100%;
	height:100px;
}

#number1 {
	width: 100px;
	border-top: 10px solid #F34711;
	float:left;
	margin: 0 40px 0 0;
}

h3.number {
font-family: 'Lato', sans-serif;
  font-size: 16pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0;
}

h4.info {
font-family: 'Lato', sans-serif;
  font-size: 10pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0;
}

#number2 {
	width: 100px;
	border-top: 10px solid #fec14a;
	position:relative;
	margin:0 40px;
	float:left;
}

#number3 {
	width: 100px;
	border-top: 10px solid #FFEC30;
	position:relative;
	margin:0 40px;
	float:left;
}

#number4 {
	width: 100px;
	border-top: 10px solid #61C75F;
	position:relative;
	margin:0 40px;
	float:left;
}

.textwrapper {
  width: 60%;
  align:center;
  
}

p.bodytext {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 0 0 100px 0;
  padding: 0;
}

/* TEMPLATE */


/* HOMEPAGE */


/* SLIDER */


.slider {
  border-style: none !important;
  background-color: white !important;
  opacity: 0.6;
  transition: all ease 0.3s;
  margin-left: 10px !important;
  transform: scale(0.9);
}

.slider:hover {
  opacity: 1;
  transform: scale(1);
}

body {
	margin: 0;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	color:black;
	border-sizing: border-box;
}

div {
	border-sizing: border-box;
}

.wrapper {
	width: 100vw;
	height: 600px;
}

.wrapper::before {
	content: 'move your cursor over the ruler';
	text-transform:uppercase;
	position: absolute;
	z-index: 10;
	left:35%;
	top:110%;
	width: 100vw;
	color:white;
	font-size:20px;
}

@keyframes wait {
	0% {
		cursor: default;
	}
	99% {
		cursor:pointer;
	}
	100% {
		cursor: pointer;
	}
}



.pano {
	width:400vw;
	height: 520px;
	margin-top:20px;
	background-image:url(../imgs/history%20photoreel.jpg);
	background-size:auto;
	background-position: center;
	transform: translateX(-50vw);
	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.pano::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: repeating-linear-gradient( 90deg, hsla(210, 60%, 40%, 0), hsla(210, 60%, 40%, 0) 9.9%, hsla(210, 60%, 40%, .25) 10%, hsla(210, 60%, 40%, 0) 10%);
}



.hover:hover {
	/**/
	background: hsla(210, 60%, 70%, .75);
	animation: wait .9s linear forwards;
	/**/
}


.hover:nth-of-type(1) {
	left: 0vw;
	
}

.hover:nth-of-type(2) {
	left: 44.4vw;
}

.hover:nth-of-type(3) {
	left: 88.8vw;
}

.hoverr:nth-of-type(4) {
	left: 133.3vw;
}

.hover:nth-of-type(5) {
	left: 177.7vw;
}

.hover:nth-of-type(6) {
	left: 222.1vw;
}

.hover:nth-of-type(7) {
	left: 266.5vw;
}

.hover:nth-of-type(8) {
	left: 310.9vw;
}

.hover:nth-of-type(9) {
	left: 355.3vw;
}


/* FROM HERE */

.hover:nth-of-type(1):hover ~ .pano {
	transform: translateX(0vw);
}

.hover:nth-of-type(1):hover ~ .pano::after {
	content: '2006';
	color:white;
}

.hover:nth-of-type(2):hover ~ .pano {
	transform: translateX(-20vw);
}

.hover:nth-of-type(2):hover ~ .pano::after {
	content: '2007';
}

.hover:nth-of-type(3):hover ~ .pano {
	transform: translateX(-63vw);
}

.hover:nth-of-type(3):hover ~ .pano::after {
	content: '2011';
	color:white;
}

.hover:nth-of-type(4):hover ~ .pano {
	transform: translateX(-107.4vw);
}

.hover:nth-of-type(4):hover ~ .pano::after {
	content: '2012';
}

.hover:nth-of-type(5):hover ~ .pano {
	transform: translateX(-151.8vw);
}

.hover:nth-of-type(5):hover ~ .pano::after {
	content: '2013';
}

.hover:nth-of-type(6):hover ~ .pano {
	transform: translateX(-196.2vw);
}

.hover:nth-of-type(6):hover ~ .pano::after {
	content: '2014';
}

.hover:nth-of-type(7):hover ~ .pano {
	transform: translateX(-240.6vw);
}

.hover:nth-of-type(7):hover ~ .pano::after {
	content: '2015';
}

.hover:nth-of-type(8):hover ~ .pano {
	transform: translateX(-285.5vw);
}

.hover:nth-of-type(8):hover ~ .pano::after {
	content: '2016';
}

.hover:nth-of-type(9):hover ~ .pano {
	transform: translateX(-300vw);
}

.hover:nth-of-type(9):hover ~ .pano::after {
	content: '2017';
}


.hover:hover ~ .pano::after {
	color: hsla(210, 60%, 70%, .75);
}



/* HOMEPAGE */


/* FOOTER */
footer {
  background: #5c7944;
  width: 100%;
  height: 360px;
  margin: 0;
  padding: 0;
}

#foot {
  width: 30%;
  position: absolute;
  left: 80px;
  padding-top: 20px;
}

#fotter {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 21px;
  font-style: italic;
}

#quote {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16px;
  font-style: italic;
  text-align: right;
}

#add {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

ul.footnav {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 60px 0 0 0;
  position: absolute;
  left: 50%;
}


ul.footnav li {
  line-height: 50px;
  display: table;
  margin-right: 20px;
  float: left;
  width: 40%;
  border-bottom: 1px solid #fec14a;
  transition: all ease 0.3s;
}

ul.footnav li:hover {
  color: #fec14a;
}

a.nomal {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

img.soc {
  height: 20px;
  width: auto;
  padding-right: 10px;
  margin-bottom: -5px;
}

/* FOOTER */