
img.across {
  width: 100%;
  height: 530px;
  padding: 0;
  margin: 0;
}

#wrapper2 {
  width: 100%;
  background-color: #fee496;
  padding: 35px 0;
  margin-top: -5px;
}

.aboutdivider {
  width: 14%;
  border-bottom: 2px solid #fec14a;
  padding: 0 0 0 0;
  margin: 10px 43% 15px 43%;
}


h1.head {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36pt;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

#info-section {
  padding: 5% 0 0 8%;
}

#threemm {
  width: 75px;
  border-bottom: 2px solid #fec14a;
  padding: 1px 0 0 0;
  margin: 0 0 8px 0;
}


h2.oral {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 7px 0;
  padding: 0;
  display:block;
  clear: left;
}

p.write {
  width: 60%;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 0 0 0 20%;
  padding: 0;
}
/*
p.writeme {
  width: 60%;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 0 0 0 20%;
  padding: 0;
  float: left;
} */

.peckerwrapper {
  width: 100%;
  margin: 0;
}

p.peckertext {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  font-kerning: 1px;
  color: black;
  margin: 0 0 30px 0;
  padding: 0;
  width: 50%;
  float: left;
}

p.peckertext b {
  font-family: 'Crimson Text', serif;
  text-decoration:underline;

}

img.penis1 {
  width: 40%;
  height: 10%;
  margin: -38px 0 0 40px;
}

img.penis2 {
  width: 40%;
  height: 10%;
  margin: -38px 0 0 40px;
}

img.penis3 {
  width: 40%;
  height: 10%;
  margin: -38px 0 0 40px;
}


<style>

@media only screen and (max-width:1022px) {

}

@media only screen and (max-width:905px) {

  body {
    height:100%;
  }

  #wrapper2 {
    width:100%;
  }

	p.write {
		width:60%;
		}

p.peckertext {
  width:80%;
}

img.penis1 {
		width:60%;
		height:60%;
		clear:both;
		margin-bottom:5%;
    margin-left: -0.3%;
    display: block;
    float: left;
		}

  img.penis2 {
  		width:60%;
  		height:60%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}

  img.penis3 {
  		width:60%;
  		height:60%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}
}

/*for tablet*/
@media only screen and (max-width:768px) {

  body {
    height:100%;
  }

  #wrapper2 {
    width:100%;
  }

	p.write {
		width:60%;
		}

p.peckertext {
  width:90%;
}

img.penis1 {
		width:80%;
		height:80%;
		clear:both;
		margin-bottom:5%;
    margin-left: -0.3%;
    display: block;
    float: left;
		}

  img.penis2 {
  		width:80%;
  		height:80%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}

  img.penis3 {
  		width:80%;
  		height:80%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}
}

@media only screen and (max-width:600px) {

  img.penis1 {
  		width:80%;
  		height:80%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}

    img.penis2 {
    		width:80%;
    		height:80%;
    		clear:both;
    		margin-bottom:5%;
        margin-left: -0.3%;
        display: block;
        float: left;
    		}

    img.penis3 {
    		width:80%;
    		height:80%;
    		clear:both;
    		margin-bottom:5%;
        margin-left: -0.3%;
        display: block;
        float: left;
    		}

      body {
        padding-bottom: 80%;
      }
}

/*for mobile*/
@media only screen and (max-width:375px) {

  body {
    height:100%;
  }

  #wrapper2 {
    width:100%;
  }

  #info-section {
    margin-left: 3%;
  }
	p.write {
		width:85%;
    margin:0 0 0 9%;
    /* display: block;
    float:left; */
		}

p.peckertext {
  width:90%;
}


  img.penis1 {
  		width:80%;
  		height:80%;
  		clear:both;
  		margin-bottom:5%;
      margin-left: -0.3%;
      display: block;
      float: left;
  		}

    img.penis2 {
    		width:80%;
    		height:80%;
    		clear:both;
    		margin-bottom:5%;
        margin-left: -0.3%;
        display: block;
        float: left;
    		}

    img.penis3 {
    		width:80%;
    		height:80%;
    		clear:both;
    		margin-bottom:5%;
        margin-left: -0.3%;
        display: block;
        float: left;
    		}

      body {
        padding-bottom: 80%;
      }
}
</style>
