/* NOTES
margin: top right bottom left
font: font-style font-variant font-weight font-size/line-height font-family
*/

/* GENERAL */
/*stroke my*/ body {
  background-color: white;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  max-width: 1280px;
}

::-webkit-scrollbar {
    display: none;
}
/* GENERAL */

/* NAVIGATION MENU*/
#bar {
  background: #5c7944;
  width: 100%;
  height: 125px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

#logo {
  display: inline;
  height: auto;
  width: 110px;
  position: absolute;
  left: 70px;
  top: 7px;
  z-index: 4;
}

#logotext {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 195px;
  top: -10px;
  line-height: 31px;
}

#logotext1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 16px;
  font-style: italic;
  position: absolute;
  left: 195px;
  top: 62px;
  line-height: 35px;
}

#contact, #give {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #82a762;
  font-size: 16px;
  position: absolute;
  padding: 7px 30px 7px 30px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

#contact {
  right: 70px;
  top: 45px;
}

#give {
  right: 220px;
  top: 45px;
}

#give:hover, #contact:hover {
  background-color: #fec963;
}

ul#navi {
  width: 100%;
  height: 31px;
  background-color: rgb(230,230,230);
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: black;
  padding: 13px 0 0 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

ul#navi li {
  display: inline;
  padding: 0px 5% 8px 5%;
  transition: all ease 0.5s;
  border-bottom: 5px solid transparent;
}

ul#navi li:hover, ul#navi li:active {
  padding: 0px 5% 10px 5%;
  border-bottom: 5px solid #fec14a;
}

a.normal {
  color: black;
  text-decoration: none;
}

li#about:hover > #adropdown {
  display: table;
}

#adropdown {
  height: auto;
  width: 40%;
  background-color: #fee496;
  z-index: 99;
  position: absolute;
  top: 169px;
  left: 19%;
  display: none;
  padding: 5px 5px 25px 5px;
  margin: 0;
  transition: all ease 0.5s;
}

ul#drop {
  list-style: none;
  line-height: 50px;
}

ul#drop li {
  margin: 0 30px 0 0;
  padding: 0;
  float: left;
  width: 40%;
  border-bottom: 1px solid #fec14a;
  transition: all ease 0.3s;
}

ul#drop li:hover, ul#drop li:active {
  padding: 0;
  border-bottom: 1px solid #fec14a;
  color: #fec14a;
}

li#student:hover > #sdropdown {
  display: table;
}

#sdropdown {
  height: auto;
  width: 40%;
  background-color: #fee496;
  z-index: 99;
  position: absolute;
  top: 169px;
  right: 5%;
  display: none;
  padding: 5px 5px 25px 5px;
  margin: 0;
  transition: all ease 0.5s;
}

/* NAVIGATION */


/* INDEX */

h1.indextitle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36pt;
  color: black;
  margin: 0 0 5px 0;
  padding: 0;
}

.indexdivider {
  width: 14%;
  border-bottom: 2px solid #f35001;
  padding: 0 0 0 0;
  margin: 10px 43% 15px 43%;
}

h2.indexheading {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: rgb(100,100,100)
}

.indexwrapper {
  text-align: center;
  padding: 70px 0 0px 0;
  background-color: white;
}

.indexwrapper2 {
  width: 60%;
  margin: 0 20% 50px 20%;
}

.factsdivider {
  width: 10%;
  border-bottom: 2px solid #fec14a;
  padding: 0;
  margin: 10px 45% 18px 45%;
}

p.indextext {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 0;
  padding: 0 0 20px 0;
}

.indexfacts {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 100px;
  padding-bottom: 70px;
}

h1.factsh1 {
  font-size: 40pt;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #f35001;
  margin: 0 20% 0 20% ;
  padding: 0;
}

h2.factsh2 {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -15px 0 0 0;
  padding: 0;
  color: black;
}

.facts {
  margin: 0 20px 0 20px 0 !important;
  width: 100%;
}

img.factsimg {
  width: auto;
  height: 100px;
}

.indexwrapper3 {
  width: 60%;
  padding: 30px 20% 0 20%;
  margin: 0;
}

.indexwrapper5 {
  display: flex;
  align-items: center;
  text-align: center;
}

.indexwrapper4 {
  margin: 0;
  padding: 330px 0 50px 0;
  text-align: center;
  background: url(images/kids5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.indexwrapper4 > a {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5% 0;
  padding: 0;
  color: white;
}

.facts1, .facts2, .facts3 {
  margin: 0 5%;
  padding: 0;
  width: 100%;
  height: 12%;
  border: 2px solid #fec14a;
  transition: background ease 0.3s;
  text-align: center;
}

.facts1:hover, .facts2:hover, .facts3:hover {
  background-color: #fec14a;
}

.indexwrapper5 a {
  text-decoration: none;
}

h2.empowertext {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5% 0;
  padding: 0;
  color: white;
}

/* SLIDER */

.carousel {
  width: 100% !important;
  max-height: 530px !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  margin: 0;
  }

.carousel-caption {
}

.carousel-caption1 {
}

.carousel-caption:hover {
}

.carousel-caption1:hover {
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  transition: all ease 0.3s;
}

#left-arrow, #right-arrow {
  height: 6% !important;
  position: absolute;
  top: 47%;
  transition: all ease 0.3s;
}

#left-arrow {
  transform: rotate(180deg);
  left: 15%;
}

#right-arrow {
  right: 15%;
}

.carousel-control.left:hover, .carousel-control.left:active, .carousel-control.left:focus {
  opacity: 1 !important;
}

.carousel-control.left:hover > #left-arrow {
  transform: rotate(180deg) scale(1.2);
}

.carousel-control.right:hover, .carousel-control.right:active, .carousel-control.right:focus  {
  opacity: 1 !important;
}

.carousel-control.right:hover > #right-arrow {
  transform: scale(1.2);
}

.slider {
  border-style: none !important;
  background-color: white !important;
  opacity: 0.6;
  transition: all ease 0.3s;
  margin-left: 10px !important;
  transform: scale(0.9);
}

.slider:hover {
  opacity: 1;
  transform: scale(1);
}

.item {
  height: 530px;
  background: cover;
}



/* INDEX */




/* TEMPLATE */
#wrapper {
  background-color: white;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 90px 10% 30px 10%;
}

h1.pagetitle {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36pt;
  color: black;
  margin: 0;
  padding: 0;
}

#divider {
  width: 150px;
  border-bottom: 2px solid #fec14a;
  padding: 10px 0 0 0;
  margin: 0 0 40px 0;
}

h2.paraheading {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  padding: 0;
}

.textwrapper {
  width: 60%;
}

p.bodytext {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;
  color: black;
  margin: 0 0 30px 0;
  padding: 0;
}

/* TEMPLATE */


/* NEWS */


.box1 {
  float: left;
  background-color: black;
  display: flex;
  align-items: center;
  width: 19%;
  height: 15vw;
}

#news1 {
  background: url("images/kid3.jpg") center;
  background-size: cover;
  margin: 0 1%;
}

#news2 {
  background: url("images/kids2.jpg") no-repeat;
  background-size: cover;
}

#news3 {
  margin: 0 1%;
}

#news4 {
}

.newstitle {
  font-family: 'Lato', sans-serif;
  font-size: 28pt;
  letter-spacing: 1px;
  text-transform: uppercase;
}



/* FOOTER */
footer {
  background: #5c7944;
  width: 100%;
  height: 360px;
  margin: 0;
  padding: 0;
}

#foot {
  width: 30%;
  position: absolute;
  left: 80px;
  padding-top: 20px;
}

#fotter {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 21px;
  font-style: italic;
}

#quote {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 16px;
  font-style: italic;
  text-align: right;
}

#add {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

ul.footnav {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 60px 0 0 0;
  position: absolute;
  left: 50%;
}


ul.footnav li {
  line-height: 50px;
  display: table;
  margin-right: 20px;
  float: left;
  width: 40%;
  border-bottom: 1px solid #fec14a;
  transition: all ease 0.3s;
}

ul.footnav li:hover {
  color: #fec14a;
}

a.nomal {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 14px;
}

img.soc {
  height: 20px;
  width: auto;
  padding-right: 10px;
  margin-bottom: -5px;
}

/* FOOTER */
